.book {
  background: var(--white);
  padding-top: 94px;
  padding-bottom: 94px;
  margin-top: 415px;
}

.book-name {
  color: var(--black);
  font-family: "backwards-black";
  font-size: 37px;
  line-height: 90.688%;
  letter-spacing: -1.85px;
  margin-bottom: 59px;
}

.date {
  color: var(--black);
  font-family: "backwards-thin";
  font-size: 37px;
  line-height: 90.688%;
  letter-spacing: -1.85px;
}

.book-title-infos {
  color: var(--black);
  font-family: "backwards-black";
  font-size: 23.836px;
  letter-spacing: -1.192px;
  text-transform: uppercase;
}

.book-answer-infos {
  color: var(--black);
  font-family: Coolvetica;
  font-size: 20px;
  font-weight: 200;
  margin-bottom: 28px;
}

.book-text-description {
  color: var(--black);
  font-family: Coolvetica;
  font-size: 17px;
  font-weight: 300;
}

.CTA-book {
  margin-top: 45px;
  color: var(--black);
  font-family: "backwards-black";
  font-size: 23.836px;
  letter-spacing: -1.192px;
  text-transform: uppercase;
}

.print-book-button {
  display: flex;
  width: 100%;
  padding: 16px 5px;
  justify-content: center;
  align-items: center;
  border-radius: 22px;
  border: 2px solid var(--black);
  background: var(--yellow);
  color: var(--black);
  font-family: "backwards-black";
  font-size: 18px;
  letter-spacing: -0.9px;
  text-transform: uppercase;
  margin-top: 20px;
  transition: 0.7s;
}

.print-book-button:hover {
  box-shadow: 0 6px 0 0 #000;
  cursor: pointer;
  transform: translateY(-7px);
}
