.footer {
  background: var(--black);
  padding: 36px 0px 107px 0px;
}

.footer-logo {
  margin-bottom: 42px;
}

.credits-title {
  color: var(--white);
  font-family: Coolvetica;
  font-size: 20px;
  font-weight: 400;
  letter-spacing: 1px;
  text-transform: uppercase;
  margin-bottom: 35px;
}

.footer-infos {
  color: var(--white);
  font-family: Coolvetica;
  font-size: 16px;
  font-weight: 400;
}

.last {
  margin-bottom: 35px;
}

.margin-top {
  margin-top: 55px;
}

.footer-icons {
  display: flex;
  gap: 18px;
}
.newsletter {
  text-decoration: underline;
}
